<h1 style={{ marginTop: "60px", fontSize: "28px" }}>Error - 404</h1>
      <div style={{ padding: "20px 0", textAlign: "center" }}>
        <Link to="/" className="btn">
          Home
        </Link>
      </div>